<form ng-submit="createPerson()" name="newPersonForm" novalidate>
  <div class="modal-header">
      <h3 class="modal-title">Edit Person</h3>
  </div>
  <div class="modal-body">
      <div class="form-group" ng-class="{ 'has-error': newPersonForm.firstName.$touched && newPersonForm.firstName.$invalid }">
        <label>First Name</label>
        <input required name="firstName" ng-model="newPerson.firstName" type="text" class="form-control">
        <div ng-if="newPersonForm.firstName.$touched" ng-messages="newPersonForm.firstName.$error" class="help-block">
          <div ng-messages-include="/views/messages.html"></div>
        </div>
      </div>

      <div class="form-group" ng-class="{ 'has-error': newPersonForm.lastName.$touched && newPersonForm.lastName.$invalid }">
        <label>Last Name</label>
        <input required name="lastName" ng-model="newPerson.lastName" type="text" class="form-control">
        <div ng-if="newPersonForm.lastName.$touched" ng-messages="newPersonForm.lastName.$error" class="help-block">
          <div ng-messages-include="/views/messages.html"></div>
        </div>
      </div>

      <div class="form-group" ng-class="{ 'has-error': newPersonForm.notes.$touched && newPersonForm.notes.$invalid }">
        <label>Notes</label>
        <textarea required name="notes" ng-model="newPerson.notes" class="form-control"></textarea>
        <div ng-if="newPersonForm.notes.$touched" ng-messages="newPersonForm.notes.$error" class="help-block">
          <div ng-messages-include="/views/messages.html"></div>
        </div>
      </div>

  </div>
  <div class="modal-footer">
      <button ng-disabled="newPersonForm.$invalid" class="btn btn-primary" type="submit">Add!</button>
      <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
  </div>
</form>